@model NhomB4.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Mã danh mục
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>

        <dt>
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
