@model NhomB4.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc sẽ xóa không?</h3>
<div>
    <h4>KHÁCH HÀNG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
            Số điện thoại khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
            Email khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>
        <dt>
           Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default"/> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
