@model NhomB4.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
            Email khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDCus }) |
    @Html.ActionLink("Trở về", "Index")
</p>
