@model NhomB4.Models.Product


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <div class="container-fluid">
        <div class="row" style="background-color: #27ae60;color:white;">
            <h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">CHI TIẾT</h2>
        </div>
        @*    SỬA*@
        <div class="row">

            <div class=" col-sm-5">
                <img src="@Html.DisplayFor(model=>model.ImagePro)" width="400" height="550" />
                @*<p>@Html.DisplayFor(model => model.NamePro)</p>
                <p>@Html.DisplayFor(model => model.DecriptionPro)</p>
                <p> @Html.DisplayFor(model => model.Price)</p>*@
            </div>
            <div class=" col-xm-12 col-sm-6 col-md-4 col-lg-3" align="center">
                <br />
                <br />
                <br />
                <br />
                <br />
                <p><b>Tên sản phẩm:</b> @Html.DisplayFor(model => model.NamePro)</p>
                <br />
                <p><b>Mô tả: </b>@Html.DisplayFor(model => model.DecriptionPro)</p>
                <br />
                <p><b>Giá: </b> @Html.DisplayFor(model => model.Price)</p>
                <div style="align-items:center;">
                    <a href="/ShoppingCart/AddToCart/@Html.DisplayFor(model => model.ProductID)" class="btn btn-success" style="align-items:center; width:200px;"> Mua </a>
                </div>







            </div>

        </div>
        @*<p>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProductID }) |
            @Html.ActionLink("Trở về", "Index")
        </p>*@
    </div>