@model NhomB4.Models.AdminUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc sẽ xóa không?</h3>
<div>
    <h4>AdminUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleUser)
        </dd>

        <dt>
           Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
