@model NhomB4.Models.OrderPro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <h4>OrderPro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày nhận hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
           Địa chỉ giao hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressDeliverry)
        </dd>

        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.NameCus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
